image-node {
  position: absolute;
  transition: all 0ms 0ms linear;
}

image-node[moving="true"], image-node[resizing="true"], image-node[rotating="true"] {
  pointer-events: none;
  user-select: none;
  cursor: move;
}

image-node:active node-wrapper {
  outline-color: var(--primary-500);
}

image-node:hover node-wrapper, image-node:focus-visible node-wrapper {
  outline-color: var(--grey-500);
}

image-node:hover delete-button, image-node:focus-visible delete-button {
  opacity: 1;
  visibility: visible;
}

image-node:focus-within node-wrapper {
  outline-color: var(--primary-500);
}

image-node:focus-within delete-button {
  opacity: 1;
  visibility: visible;
}

image-node node-wrapper {
  outline: 1px dashed var(--grey-300);
  outline-offset: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}

image-node node-wrapper img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

image-node move-handle {
  position: absolute;
  cursor: move;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -8px;
  left: -8px;
}

image-node resize-handle {
  position: absolute;
}

image-node resize-handle:nth-of-type(1) {
  cursor: ns-resize;
  width: calc(100% + 16px);
  height: 8px;
  bottom: -8px;
  right: -8px;
}

image-node resize-handle:nth-of-type(2) {
  cursor: ew-resize;
  height: calc(100% + 16px);
  width: 8px;
  bottom: -8px;
  right: -8px;
}

image-node resize-handle:nth-of-type(3) {
  cursor: nwse-resize;
  height: 8px;
  width: 8px;
  bottom: -8px;
  right: -8px;
}

image-node delete-button {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  top: -12px;
  left: -12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--danger-600);
  opacity: 0;
  visibility: visible;
}

image-node delete-button::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--danger-600);
  pointer-events: none;
}

image-node delete-button svg {
  pointer-events: none;
  width: 12px;
  height: 12px;
}

image-node rotate-handle {
  position: absolute;
  right: -8px;
  top: -16px;
  width: 16px;
  height: 16px;
  cursor: url("/svgs/rotate.svg"), grab;
}
