text-node {
  position: absolute;
  transition: all 0ms 0ms linear;
}

text-node:hover node-wrapper, text-node:focus-visible node-wrapper {
  outline-color: var(--grey-500);
}

text-node:hover delete-button, text-node:focus-visible delete-button {
  opacity: 1;
  visibility: visible;
}

text-node:focus-within node-wrapper {
  outline-color: var(--primary-500);
}

text-node:focus-within delete-button {
  opacity: 1;
  visibility: visible;
}

text-node:active node-wrapper {
  outline-color: var(--primary-500);
}

text-node[moving="true"], text-node[resizing="true"], text-node[rotating="true"] {
  pointer-events: none;
  user-select: none;
  cursor: move;
}

text-node[overflowing="true"] overflow-warning {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

text-node node-wrapper {
  outline: 1px dashed var(--grey-300);
  outline-offset: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}

text-node textarea {
  resize: none;
  font-size: 24px;
  line-height: 1.618;
  color: var(--grey-900);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  transform-origin: center;
  font-family: "jenna-sue";
}

text-node move-handle {
  position: absolute;
  cursor: move;
}

text-node move-handle:first-of-type {
  width: calc(100% + 16px);
  height: 8px;
  top: -8px;
  left: -8px;
}

text-node move-handle:last-of-type {
  height: calc(100% + 16px);
  width: 8px;
  top: -8px;
  left: -8px;
}

text-node resize-handle {
  position: absolute;
}

text-node resize-handle:nth-of-type(1) {
  cursor: ns-resize;
  width: calc(100% + 16px);
  height: 8px;
  bottom: -8px;
  right: -8px;
}

text-node resize-handle:nth-of-type(2) {
  cursor: ew-resize;
  height: calc(100% + 16px);
  width: 8px;
  bottom: -8px;
  right: -8px;
}

text-node resize-handle:nth-of-type(3) {
  cursor: nwse-resize;
  height: 8px;
  width: 8px;
  bottom: -8px;
  right: -8px;
}

text-node delete-button {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  top: -12px;
  left: -12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--danger-600);
  opacity: 0;
  visibility: visible;
}

text-node delete-button::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--danger-600);
  pointer-events: none;
}

text-node delete-button svg {
  pointer-events: none;
  width: 12px;
  height: 12px;
}

text-node overflow-warning {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  top: calc(100% - 8px + 4px);
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--danger-600);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

text-node overflow-warning::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--danger-600);
  pointer-events: none;
}

text-node overflow-warning svg {
  pointer-events: none;
  width: 12px;
  height: 12px;
}

text-node rotate-handle {
  position: absolute;
  right: -8px;
  top: -16px;
  width: 16px;
  height: 16px;
  cursor: url("/svgs/rotate.svg"), grab;
}
