card-editor-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    box-shadow: var(--shadow-xl);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}