card-component{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: scroll;
    display: block;

    card-canvas{
        background-color: var(--white);
        box-shadow: var(--shadow-lg);
        width: 1200px;
        height: 873px;
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin: 8rem auto;
        border: 1px solid var(--grey-200);

        content-container{
            width: 552px;
            height: 803px;
            display: inline-block;
            border: 1px dashed var(--grey-300);
            overflow: hidden;

            &:hover,
            &:focus-within{
                border-color: var(--grey-500);
            }

            & > * {
                z-index: 1;

                &:active,
                &:focus-within{
                    z-index: 2;
                }
            }
        }
    }
}