context-menu{
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: var(--shadow-md);
    width: 175px;
    border: 1px solid var(--grey-300);

    button{
        justify-content: flex-start !important;
        padding: 0 0.5rem !important;
    }
}